@model Entertainment_Lib.ViewModels.TVProgramHomeViewModel

@{
    // The title and css file of the page
    ViewBag.Title = Model.tvprogram.Name;
    ViewBag.Css = "~/Content/tvprograms_details.css";
}

<!-- The wrapping div -->
<div class="wrapper">
    <!-- Categories div (on the left, or on top) -->
    <div class="categories">
        <h3>Categories</h3>
        <ul>
            <li>@Html.ActionLink("Movies", "Index", "Movie")</li>
            <li>@Html.ActionLink("TVPrograms", "Index", "TVProgram")</li>
        </ul>
    </div>
    
    <!-- TV program div (on the right, or at the bottom) -->
    <div class="tvprogram">
        @* TV program name *@
        <h3>@Model.tvprogram.Name</h3>

        @* TV program Description *@
        <p class="description">
            @Model.tvprogram.Description
        </p>

        @*
            If the current user is logged in, and is the
            owner of this movie, display edit and delete
            buttons
        *@
        @if (User.Identity.IsAuthenticated && Model.currentUserId == Model.tvprogram.Owner.Id)
        {
            // Edit button
            <a href="/TVProgram/Edit/@Model.tvprogram.Id" class="edit">
                <i class="far fa-edit"></i>
                Edit
            </a>

            // Delete button
            <a href="/TVProgram/Delete/@Model.tvprogram.Id" class="delete">
                <i class="far fa-trash-alt"></i>
                Delete
            </a>
        }
    </div>
</div>