@model IEnumerable<Entertainment_Lib.Models.TVProgram>

@{
    ViewBag.Title = "TV Programs";
    ViewBag.Css = "~/Content/tvprograms_home.css";
}

<div class="wrapper">
    <div class="categories">
        <h3>Categories</h3>
        <ul>
            <li>@Html.ActionLink("Movies", "Index", "Movie")</li>
            <li>@Html.ActionLink("TVPrograms", "Index", "TVProgram")</li>
        </ul>
    </div>
    <div class="latest">
        <h3>TV Programs</h3>
        <ul>
            @foreach(Entertainment_Lib.Models.TVProgram tvprogram in Model)
            {
                <li>
                    @Html.ActionLink(tvprogram.Name, "Details", "TVProgram", new { id=tvprogram.Id }, null)
                </li>
            }
        </ul>
    </div>
</div>