<footer>
    <div class="container">
        <p>
            &copy;  @DateTime.Now.Year Entertainment Lib | All rights reserved
        </p>
        <p>
            Developed by <a href="https://github.com/PlankCipher" target="_blank">Youssef Ashour</a> (PlankCipher).
        </p>
    </div>
</footer>