@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li>
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", style = "display: none" }))
    {
        @Html.AntiForgeryToken()
    }
}
else
{
    <li>@Html.ActionLink("Sign up", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
}
