<nav>
    <div class="container">
        <h2>Entertainment Lib</h2>
        <ul>
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
        </ul>
        <i class="fas fa-bars"></i>
    </div>
</nav>