@model Entertainment_Lib.ViewModels.MovieHomeViewModel

@{
    ViewBag.Title = Model.movie.Name;
    ViewBag.Css = "~/Content/movies_details.css";
}

<div class="wrapper">
    <div class="categories">
        <h3>Categories</h3>
        <ul>
            <li>@Html.ActionLink("Movies", "Index", "Movie")</li>
            <li>@Html.ActionLink("TVPrograms", "Index", "TVProgram")</li>
        </ul>
    </div>
    <div class="movie">
        <h3>@Model.movie.Name</h3>
        <p class="description">@Model.movie.Description</p>
        @if (User.Identity.IsAuthenticated && Model.currentUserId == Model.movie.Owner.Id)
        {
            <a href="/Movie/Edit/@Model.movie.Id" class="edit">
                <i class="far fa-edit"></i>
                Edit
            </a>
            <a href="/Movie/Delete/@Model.movie.Id" class="delete">
                <i class="far fa-trash-alt"></i>
                Delete
            </a>
        }
    </div>
</div>