* {
    outline: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

:root {
    --primary-color: #e67e22;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0px;
    margin: 0px
}

nav, footer {
    background-color: #34495e;
}

.container {
    width: 95%;
    max-width: 1200px;
    margin: 0px auto;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

nav h2 {
    color: var(--primary-color);
}

nav ul {
    padding: 0px;
    margin: 0px
}

nav ul li {
    list-style: none;
    float: left;
    margin: 5px;
}

nav ul a {
    color: #fff;
    display: block;
    padding: 10px;
    transition: 0.2s ease-in-out;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px
}

nav ul a:hover {
    background-color: #2ecc71;
    transform: scale(1.1)
}

nav i {
    position: absolute;
    right: 0px;
    font-size: 20px;
    color: #fff;
    padding: 7px;
    background-color: #2ecc71;
    border-radius: 3px;
    cursor: pointer;
    display: none !important;
}

main {
    flex: 1;
    margin: 10px 0px;
}

footer {
    color: var(--primary-color);
    text-align: center;
    font-size: 18px;
}

.text-danger {
    color: #f00;
}

.input-validation-error {
    border: 2px solid #f00 !important;
}

.validation-summary-errors ul {
    padding: 0px;
    list-style: none;
}

@media only screen and (max-width: 750px) {
    nav i {
        display: block !important;
    }

    nav ul {
        position: absolute;
        bottom: -153px;
        left: -2.5vw;
        background-color: #2c3e50;
        width: 100vw;
        padding: 0px 5px;
        display: none;
    }

    .displayed {
        display: block
    }

    nav ul li {
        width: 100%;
        margin: 5px 0px;
    }

    nav ul a:hover {
        background-color: #2ecc71;
        transform: scale(1);
    }

    nav h2 {
        margin-right: 33px
    }
}