/********* Wrapping div *********/
.wrapper {
    border: 2px solid var(--primary-color);
    border-radius: 3px;
    display: flex;
    padding: 15px
}

/********* Headings inside *********/
.wrapper h3 {
    margin: 0px 0px 10px 0px;
}

/********* Common between Edit and Delete links *********/
.wrapper .edit, .wrapper .delete {
    margin-top: 15px;
    display: inline-block;
    padding: 10px;
    border-radius: 3px;
    color: #fff;
    width: 100px;
    text-align: center;
}

.wrapper .edit i, .wrapper .delete i {
    margin: 0px 3px;
}

.wrapper .edit:hover, .wrapper .delete:hover {
    color: #fff
}

/********* Edit link *********/
.wrapper .edit {
    background-color: #2ecc71;
}

/********* Delete link *********/
.wrapper .delete {
    background-color: #e74c3c;
    margin: 4px
}

/********* Lists of links *********/
.wrapper ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.wrapper ul li {
    margin-bottom: 5px;
}

.wrapper ul li:last-of-type {
    margin: 0px
}

.wrapper a {
    text-decoration: none;
    color: var(--primary-color);
}

.wrapper a:hover {
    color: #b05d13;
}

/********* Categories div (on the left) *********/
.wrapper .categories {
    padding-right: 15px;
    border-right: 2px solid #808080;
}

/********* Movie div (on the right) *********/
.wrapper .movie {
    padding-left: 15px
}

/********* Description of movie *********/
.wrapper .movie p {
    font-size: 17px;
}

/********* Media query to make content of .wrapper responsive *********/
@media only screen and (max-width: 550px) {
    .wrapper {
        flex-direction: column
    }

    .wrapper .categories {
        padding-right: 0px;
        border: none;
    }

    .wrapper .movie {
        padding-left: 0px;
        margin-top: 20px
    }
}

/********* Media query to fix "Delete" button on very small screens *********/
@media only screen and (max-width: 260px) {
    .wrapper .delete {
        display: block;
        margin: 7px 0px 0px 0px
    }
}